/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto+Condensed:wght@300;400;700&display=swap');

.section{
    position: absolute;
    height: 80vh;
    width: 80%;
    top: 100px;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logImg{
    height: 400px;
    width: 500px;
    overflow: hidden;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    background-color: #232323;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logImg > img{
    width: 70%;
    height: 70%;
}

.form-control{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 500px;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    padding: 20px 50px;
    color: #232323;
}

.inputFields{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 180px;
    justify-content: center;
}

.login{
    font-family: 'Open Sans';
    font-size: 34px;
    font-weight: 700;
    color: #303030;
    text-transform: uppercase;
}

label{
    font-size: 18px;
    font-weight: 500;
    font-family: 'Open Sans';
}

.text-field{
    border: 1px solid #232323;
    outline: none;
    width: 300px;
    border-radius: 20px;
    padding: 5px ;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Open Sans';
    font-weight: 400;
    transition: all 0.2s ease-in-out;
    background: none;
}

.password-field{
    border: 1px solid #232323;
    outline: none;
    width: 300px;
    border-radius: 20px;
    padding: 5px ;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Open Sans';
    font-weight: 400;
    transition: all 0.2s ease-in-out;
    background: none;
}

.text-field:focus, .password-field:focus{
    border: 1px solid rgb(0, 115, 255);
    width: 320px;
} */
.add-product-container {

    max-width: 600px;
  
    margin: 0 auto;
  
    padding: 20px;
  
    background-color: #ffffff;
  
    border-radius: 10px;
  
    box-shadow: 0px 0px 5px 0px #00000040;
  
  }
  
  
  
  
  h2 {
  
    text-align: center;
  
    margin-top: 0;
  
    font-size: 36px;
  
    font-weight: bold;
  
    color: #222222;
  
  }
  
  
  
  
  form {
  
    display: flex;
  
    flex-direction: column;
  
    align-items: center;
  
  }
  
  
  
  
  .form-group {
  
    display: flex;
  
    flex-direction: column;
  
    margin-bottom: 20px;
  
    width: 100%;
  
  }
  
  
  
  
  label {
  
    font-size: 18px;
  
    font-weight: bold;
  
    margin-bottom: 10px;
  
    color: #222222;
  
  }
  
  
  
  
  input,
  
  select {
  
    padding: 10px;
  
    border-radius: 5px;
  
    border: none;
  
    background-color: #f5f5f5;
  
    color: #555555;
  
    font-size: 16px;
  
    width: 100%;
  
    margin-bottom: 5px;
  
  }
  
  
  
  
  select {
  
    cursor: pointer;
  
  }
  
  
  
  
  button[type="submit"] {
  
    background-color: #0066cc;
  
    color: #ffffff;
  
    border: none;
  
    border-radius: 5px;
  
    padding: 10px 20px;
  
    font-size: 16px;
  
    cursor: pointer;
  
    margin-top: 10px;
  
  }
  
  
  
  
  button[type="submit"]:hover {
  
    background-color: #0052a3;
  
  }
  
  #logoImg{
  
    background-color: whitesmoke;
  
  }
  
  
  
  
  #add-form {
  
  height: 500px;
  
  padding: 0px;
  
  }
  
  
  
  
  #add-form-section {
  
    height: 500px;
  
  }
  
  
  
  
  .add-box-demo{
  
    display: flex;
  
    flex-direction: row;
  
  }
  
  
  
  
  .add-box-demo-input{
  
    display: flex;
  
    flex-direction: column;
  
  }
  
  
  
  
  
  .add-text{
  
    text-align: center;
  
  }
  
  
  
  
  select{
  
    border: 1px solid black;
  
    border-radius: 20px;
  
    background: none;
  
    color: #232323;
  
  }
  
  
  
  
  input::placeholder{
  
    color: black;
  
  }
  
  
  
  
  .add-box-image{
  
    display: flex;
  
    flex-direction: column;
  
    justify-content: space-between;
  
    align-items: center;
  
  }
  
  
  
  
  .add-box-image > h3{
  
    text-transform: uppercase;
  
    padding-bottom: 20px;
  
    font-weight: 600;
  
  }
  
  
  
  
  .add-bx{
  
    height: 220px;
  
  }
  #btnGroup{
    padding-top: 7em;
  }